service su_daemon /system/bin/logwrapper /sbin/magisk --daemon
    seclabel u:r:su:s0
    oneshot

on boot
    exec u:r:su:s0 -- /system/bin/logwrapper /rusty-magisk
    start su_daemon
    exec u:r:su:s0 -- /system/bin/logwrapper /sbin/magisk --post-fs-data

on property:sys.boot_completed=1
    exec u:r:su:s0 -- /system/bin/logwrapper /sbin/magisk --service
    exec u:r:su:s0 -- /system/bin/logwrapper /sbin/magisk --boot-complete

